<h2 class="text-center">I nostri marchi:</h2>
<div
  class="row row-cols-1 row-cols-md-3 justify-content-center bg-info bg-opacity-50 border border-1 border-black"
>
  <div
    class="col my-2 d-flex justify-content-center"
    *ngFor="let auto of Autoarrlogo"
  >
    <img [src]="[auto]" class="w-50 align-self-center" alt="logoBrand" />
  </div>
</div>

<h2 class="text-center mt-3">Le nostre migliori auto:</h2>
<div class="row row-cols-1 row-cols-md-3 justify-content-center mb-3">
  <div class="col mt-3" *ngFor="let auto of AutoarrRandom">
    <div
      class="card d-flex flex-column h-100"
      [ngClass]="{
        'bg-success': auto.available,
        'bg-danger': !auto.available
      }"
    >
      <img [src]="[auto.modelImage]" class="card-img w-100 h-50" alt="" />
      <div class="card-body">
        <h5 class="card-title h3 text-light">
          Modello <span class="fw-bold">{{ auto.model }}</span>
        </h5>
        <p class="card-text">
          Uscita: <span class="fw-bold">{{ auto.year }}</span>
        </p>
        <p class="card-text">
          Prezzo: <span class="fw-bold">{{ auto.price }}€</span>
        </p>
        <p>
          Pronta consegna:
          <span class="fw-bold"> {{ auto.available ? "Sì" : "No" }}</span>
        </p>
        <a
          class="btn btn-info text-light"
          [routerLink]="['/' + auto.brand.toLowerCase()]"
          >Informazioni su tutte le auto {{ auto.brand }}</a
        >
      </div>
    </div>
  </div>
</div>
