<h2 class="text-center">Le nostre auto Ford</h2>
<div class="row row-cols-1 row-cols-md-3 justify-content-center my-3">
  <div class="col mt-3" *ngFor="let auto of FordArr">
    <div
      class="card d-flex flex-column h-100"
      [ngClass]="{
        'bg-success': auto.available,
        'bg-danger': !auto.available
      }"
    >
      <img [src]="[auto.modelImage]" class="card-img w-100 h-50" alt="" />
      <div class="card-body">
        <h5 class="card-title">{{ auto.model }}</h5>
        <p class="card-text">{{ auto.year }}</p>
        <p class="card-text">{{ auto.price }}€</p>
        <p>Pronta consegna: {{ auto.available ? "Sì" : "No" }}</p>
        <a class="btn btn-primary">Torna in home</a>
      </div>
    </div>
  </div>
</div>
